
		h1.fontface {font: 15px/20px 'QuicksandLight', Arial, sans-serif;letter-spacing: 0;}
		h4.grande {font: 18px 'QuicksandBook', Arial, sans-serif; }
		p.fontface {font: 13px/20px 'QuicksandLight', Arial, sans-serif;letter-spacing: 0;}
h4.h4bold {font: 18px/20px 'QuicksandBold', Arial, sans-serif;}
h4.stylefooter {font: 18px/27px 'QuicksandLight', Arial, sans-serif;letter-spacing: 0;}
a.stylefooter {font: 18px/27px 'QuicksandLight', Arial, sans-serif;letter-spacing: 0;}
		p.light1 {font: 18px/20px 'QuicksandLight', Arial, sans-serif;}
		p.lighto1 {font: 18px/20px 'QuicksandLightOblique', Arial, sans-serif;}
		a.style3 {font: 18px 'QuicksandBook', Arial, sans-serif;}
		p.style4 {font: 18px/27px 'QuicksandBookOblique', Arial, sans-serif;}
		p.bold1 {font: 18px/20px 'QuicksandBold', Arial, sans-serif;}
		p.style6 {font: 18px/27px 'QuicksandBoldOblique', Arial, sans-serif;}
		p.style7 {font: 18px/27px 'QuicksandDash', Arial, sans-serif;}
